.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.mat-typography{
  margin-top: -24px;
}
.mat-dialog-container {
  position: relative;
}
.share-with{
  &__title{
    position: relative;
    top: -40px;
    margin-bottom: 0;
  }
}
.share-modal {
  &__close {
    position: relative;
    bottom: 5px;
    left: calc(100% - 20px);
    z-index: 100;
    cursor: pointer;
    &:hover {
      background-color: #d0dfe8;
    }
  }
}
