/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer {
  color: #444444;
  font-size: 15px;
  font-weight: 500;
  background: #f5f5f5;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
  width: 100%;
}
